.container__article{
    width: 315px;
    height: 315px;
    /* margin-top: 10px; */
    position: relative;
    top: 25px;
}

@media screen and (max-width: 769px){
    .container__article{
        width: 150px;
        height: 150px;
    }
}
* {
    border: 1px solid red;
}