.article__header{
    font-size: 40px;
    padding-top: 30px;
    margin: 0 50px;
}

@media screen and (max-width: 769px){
    .article__header{
        margin: 0 30px;
    }
}

@media screen and (max-width: 555px){
    .article__header{
        margin: 0 15px;
    }
}

@media screen and (max-width:555px){
    .article__header{
        font-size: 30px;
    }
}