.flip-box {
    background-color: transparent;
    width: 380px;
    height: 380px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

@media screen and (max-width: 1024px){
    .flip-box{
        width: 216px;
        height: 216px;
    }
}

